<!-- Views/Account/Login.cshtml -->
@model TasksEvaluation.Core.DTOs.LoginDTO

@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            background: #222D32;
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
        }

        .login-box {
            margin-top: 75px;
            height: auto;
            background: #1A2226;
            text-align: center;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            border-radius: 10px;
            padding: 40px;
            color: #ECF0F5;
        }

        .login-key {
            height: 100px;
            font-size: 80px;
            line-height: 100px;
            background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .login-title {
            margin-top: 15px;
            text-align: center;
            font-size: 30px;
            letter-spacing: 2px;
            font-weight: bold;
            color: #ECF0F5;
        }

        .login-form {
            margin-top: 25px;
            text-align: left;
        }

        input[type=text], input[type=password] {
            background-color: #1A2226; /* خلفية داكنة */
            border: 1px solid #0DB8DE; /* إضافة حد بسيط بلون متباين */
            border-radius: 5px; /* زوايا دائرية خفيفة */
            font-weight: bold; /* خط عريض */
            color: #ECF0F5; /* لون النص */
            padding: 10px; /* إضافة حشو داخلي */
            margin-bottom: 20px; /* مسافة أسفل الحقل */
            outline: none; /* إزالة الخط الخارجي عند التركيز */
        }

            input[type=text]:focus, input[type=password]:focus {
                border-color: #17a2b8; /* تغيير لون الحد عند التركيز */
                background-color: #1A2226; /* الحفاظ على الخلفية الداكنة عند التركيز */
                box-shadow: 0 0 5px rgba(23, 162, 184, 0.5); /* تأثير ظل خفيف عند التركيز */
            }

        .form-group {
            margin-bottom: 40px;
        }

        .form-control:focus {
            border-color: inherit;
            box-shadow: none;
            border-bottom: 2px solid #0DB8DE;
            background-color: #1A2226;
            color: #ECF0F5;
        }

        .form-control-label {
            font-size: 10px;
            color: #6C6C6C;
            font-weight: bold;
            letter-spacing: 1px;
        }

        .btn-outline-primary {
            border-color: #0DB8DE;
            color: #0DB8DE;
            border-radius: 0px;
            font-weight: bold;
            letter-spacing: 1px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        }

            .btn-outline-primary:hover {
                background-color: #0DB8DE;
                color: white;
            }



        .login-button {
            text-align: center;
            margin-bottom: 25px;
            margin-left: 145px;
        }

        .login-text {
            text-align: left;
            padding-left: 0px;
            color: #A2A4A4;
        }

        .forget-password-link {
            color: #0DB8DE; /* نفس لون زر الـLOGIN */
            text-decoration: none;
            font-size: 14px;
            font-weight: bold;
            display: inline-block;
            margin-top: 10px;
            text-align: center;
        }

            .forget-password-link:hover {
                color: #17a2b8; /* تغيير اللون عند التحويم */
                text-decoration: underline;
            }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 login-box">
                <div class="col-lg-12 login-key">
                    <i class="fa fa-key" aria-hidden="true"></i>
                </div>
                <div class="col-lg-12 login-title">
                    ADMIN PANEL
                </div>

                <div class="col-lg-12 login-form">
                    <form asp-action="Login" method="post">
                        <div class="form-group">
                            <label class="form-control-label">USERNAME</label>
                            <input asp-for="Email" type="text" class="form-control" placeholder="Username" required />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">PASSWORD</label>
                            <input asp-for="Password" type="password" class="form-control" placeholder="Password" required />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <a href="@Url.Action("ForgotPassword", "Account")" class="forget-password-link">Forget Password ?</a>
                        </div>

                        <div class="col-lg-12 loginbttm">
                            <div class="col-lg-6 login-btm login-text">
                                <!-- Error Message -->
                            </div>
                            <div class="col-lg-6 login-btm login-button">
                                <button type="submit" class="btn btn-outline-primary">LOGIN</button>
                            </div>
                           

                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
    </div>
</body>
</html>